{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" method="POST" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">Current Password</label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    {{ form.new_password1 }}
                    <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span>
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Verify</label>
                    {{ form.new_password2 }}
                    <span class="form-text small text-muted">
                        To confirm, type the new password again.
                    </span>
                    {{ form.new_password2.errors }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
