{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">名前</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Eメール</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">電話番号</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.tel }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">IGアドレス</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.contact_address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">シフト数</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.shift_count }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">ポイント</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.worker_credit }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Status</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ request.user.ready|yesno:"Ready,Not Ready" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary mt-3">プロフィール編集</a>
                <a href="{% url 'accounts:make_ready' %}" class="btn btn-secondary mt-3">ステータスを変更</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}