{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>顧客一覧</h1>
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">customers list</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>顧客名</th>
                                <th>Eメール</th>
                                <th>コンタクト情報</th>
                                <th>割り当て済み</th>
                                <th>ステータス</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customer_list %}
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{ customer.first_name }} {{ customer.last_name }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ customer.email }}</td>
                                <td><span class="d-inline-block align-middle">{{ customer.contact_address }}</span></td>
                                <td><span>{{ customer.task_assigned }}</span></td>
                                {% if customer.task_completed %}
                                    <td><span>完了済み</span></td>
                                {% else %}
                                    <td><span>進行中</span></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}