{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>従業員一覧</h1>
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">workers list</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>名前</th>
                                <th>Eメール</th>
                                <th>コンタクト情報</th>
                                <th>電話番号</th>
                                <th>ポイント</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{ user.first_name }} {{ user.last_name }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ user.email }}</td>
                                <td><span class="d-inline-block align-middle">{{ user.contact_address }}</span></td>
                                <td><span>{{ user.tel }}</span></td>
                                <td><span>{{ user.worker_credit }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}