{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>仕事一覧</h1>
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{ request.user.first_name }}'s Jobs</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>担当者名</th>
                                <th>顧客名</th>
                                <th>提出期限</th>
                                <th>ステータス</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in job_list %}
                            <tr class="align-middle">
                                <td>{{ job.worker.first_name }} {{ job.worker.last_name }}</td>
                                <td>{{ job.customer.first_name }} {{ job.customer.last_name }}</td>
                                {% if job.due %}
                                    <td>{{ job.due }}</td>
                                {% else %}
                                    <td>未定</td>
                                {% endif %}
                                <td>{{ job.status }}</td>
                                <td>
                                    {% if job.status == 'NEW' %}
                                        <a href="{% url 'jobs:receive_content' job.id %}">Received Video and Photos</a>
                                    {% elif job.status == 'IN_PROGRESS' or job.status == 'IMPROVEMENT' %}
                                        <form action="{% url 'jobs:update_job_link' job.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="url" name="link" placeholder="Enter link">
                                            <button type="submit">Submit</button>
                                        </form>
                                    {% elif job.status == 'EVALUATION' %}
                                        <p><strong>Video:</strong> <a href="{{ job.link }}" target="_blank">{{ job.link }}</a></p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}